<div class="panel">

<center>
<h2>Jam often, jam well. Be safe.</h2>
<div class="downloads-bar">
<a href='/downloads/play-store'><img alt='Get it on Google Play' src='/images/play_store_offline.png' width=150px /></a>

<a href="/downloads/f-droid"><img alt='Get it on F-Droid' src="/images/f-droid_offline.png" width=150px /></a>

<a href="/downloads/ios"><img alt='Get it on App Store' src='/images/app_store_offline.png' width=150px /></a>

<a href="https://github.com/DaylightingSociety/SpeakFree"><img alt='View source on Github' src='/images/github.png' width=150px /></a>
</div>

</center>
<div class="divider"><hr></div>

<br />
<small>Google Play and the Google Play logo are trademarks of Google Inc.</small>
<br />
<small>Apple, and the App Store logo, are trademarks of Apple Inc. App Store is a service mark of Apple Inc. IOS is a trademark or registered trademark of Cisco in the U.S. and other countries and is used under license.</small>
<br />
<small>The GitHub Octocat and GitHub logo are trademarks of GitHub.</small>

</div>
