<div class="panel">

<blockquote>
Even if you're not doing anything wrong, you are being watched and recorded.
<cite>Edward Snowden</cite>
</blockquote>

<blockquote>
Without the ability to talk about government power, there's no way for citizens to make sure this power isn't being misused.
<cite>Aaron Swartz</cite>
</blockquote>

<center>
<h2>Jam the microphones. Learn to Speak Free.</h2>

<img src="/images/speakfree.png" width=200px>

<p>SpeakFree emits loud noise in the range of human speech, making it harder for microphones to pick out your conversation.</p>
<div class="downloads-bar">
<a href='/downloads/play-store'><img alt='Get it on Google Play' src='/images/play_store_offline.png' width=150px /></a>

<a href="/downloads/f-droid"><img alt='Get it on F-Droid' src="/images/f-droid_offline.png" width=150px /></a>

<a href="/downloads/ios"><img alt='Get it on App Store' src='/images/app_store_offline.png' width=150px /></a>

<a href="https://github.com/DaylightingSociety/SpeakFree"><img alt='View source on Github' src='/images/github.png' width=150px /></a>
</div>

</center>


<div class="divider"><hr></div>

<br />
<small>Google Play and the Google Play logo are trademarks of Google Inc.</small>
<br />
<small>Apple, and the App Store logo, are trademarks of Apple Inc. App Store is a service mark of Apple Inc. IOS is a trademark or registered trademark of Cisco in the U.S. and other countries and is used under license.</small>
<br />
<small>The GitHub Octocat and GitHub logo are trademarks of GitHub.</small>


</div>
