<link href="/styles/gallery.css" rel="stylesheet" type="text/css">
<div class="panel">
<h1>Screenshots, signage, and propaganda</h1>

<h2>Screenshots</h2>

<div class="gallery-row">

	<div class="gallery">
		<a target="_blank" href="images/media/ios-inactive.png">
			<img src="images/media/ios-inactive_thumb.png" alt="iPhone Screenshot" width="300" height="300">
		</a>
		<div id="desc">Inactive iOS Screenshot</div>
	</div>

	<div class="gallery">
		<a target="_blank" href="images/media/ios-active.png">
			<img src="images/media/ios-active_thumb.png" alt="iPhone Screenshot" width="300" height="300">
		</a>
		<div id="desc">Active iOS Screenshot</div>
	</div>

	<div class="gallery">
		<a target="_blank" href="images/media/android-inactive.png">
			<img src="images/media/android-inactive_thumb.png" alt="Android Screenshot" width="300" height="300">
		</a>
		<div id="desc">Inactive Android Screenshot</div>
	</div>

	<div class="gallery">
		<a target="_blank" href="images/media/android-active.png">
			<img src="images/media/android-active_thumb.png" alt="Android Screenshot" width="300" height="300">
		</a>
		<div id="desc">Active Android Screenshot</div>
	</div>

</div>
